################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GSDK/v16/ipch/AutoPCH
/.vs/GSDK/v16
/GSDK/Release
/Release
/GSDK/Debug/GSDK.tlog
/GSDK/Debug
